.headtxt{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 80px;
    top: -90px;
}
p1{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 180px;
    top: 134px;
    left: 334px;
}
p2{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 18px;
    top: 524px;
    left: 790px;
}
p3{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 26px;
    top: 190px;
    left: 200px;
}
p4{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 28px;
    top: 234px;
    left: 200px;
}
p5{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 100px;
    top: 159px;
    left: 780px;
}
p6{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 130px;
    top: 346px;
    left: 649px;
}
p7{
    position: absolute;
    font-family: 'Aeroport Mono';
    color: black;
    font-size: 100px;
    top: 520px;
    left: 870px;
}
p8{
    position: absolute;
    font-family: 'Aeroport Mono';
    color: black;
    font-size: 130px;
    top: 709px;
    left: 660px;
}
p9{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 28px;
    top: 48px;
    left: 200px;
}
p10{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 30px;
    top: 476px;
    left: 1210px;
}
p11{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 40px;
    top: 394px;
}
p12{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 60px;
    top: 294px;
    left: 1388px;
    transform: rotate(90deg);
}
p13{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 60px;
    top: 555px;
    left: 1388px;
    transform: rotate(90deg);
}
p14{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 60px;
    top: 812px;
    left: 1388px;
    transform: rotate(90deg);
}
p15{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 30px;
    top: 200px;
}

.img{
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 0;
}



@font-face {
    font-family: 'Aeroport';
    src: url('..fonts/Aeroport-Light.eot');
    src: local('Aeroport Light'), local('Aeroport-Light'),
        url('..fonts/Aeroport-Light.eot?#iefix') format('embedded-opentype'),
        url('..fonts/Aeroport-Light.woff2') format('woff2'),
        url('..fonts/Aeroport-Light.woff') format('woff'),
        url('..fonts/Aeroport-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport Mono';
    src: url('..fonts/AeroportMono.eot');
    src: local('Aeroport Mono'), local('AeroportMono'),
        url('..fonts/AeroportMono.eot?#iefix') format('embedded-opentype'),
        url('..fonts/AeroportMono.woff2') format('woff2'),
        url('..fonts/AeroportMono.woff') format('woff'),
        url('..fonts/AeroportMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('..fonts/Aeroport-Bold.eot');
    src: local('Aeroport Bold'), local('Aeroport-Bold'),
        url('..fonts/Aeroport-Bold.eot?#iefix') format('embedded-opentype'),
        url('..fonts/Aeroport-Bold.woff2') format('woff2'),
        url('..fonts/Aeroport-Bold.woff') format('woff'),
        url('..fonts/Aeroport-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('..fonts/Aeroport-LightItalic.eot');
    src: local('Aeroport Light Italic'), local('Aeroport-LightItalic'),
        url('..fonts/Aeroport-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('..fonts/Aeroport-LightItalic.woff2') format('woff2'),
        url('..fonts/Aeroport-LightItalic.woff') format('woff'),
        url('..fonts/Aeroport-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('..fonts/Aeroport-BoldItalic.eot');
    src: local('Aeroport Bold Italic'), local('Aeroport-BoldItalic'),
        url('..fonts/Aeroport-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('..fonts/Aeroport-BoldItalic.woff2') format('woff2'),
        url('..fonts/Aeroport-BoldItalic.woff') format('woff'),
        url('..fonts/Aeroport-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('..fonts/Aeroport-MediumItalic.eot');
    src: local('Aeroport Medium Italic'), local('Aeroport-MediumItalic'),
        url('..fonts/Aeroport-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('..fonts/Aeroport-MediumItalic.woff2') format('woff2'),
        url('..fonts/Aeroport-MediumItalic.woff') format('woff'),
        url('..fonts/Aeroport-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('..fonts/Aeroport.eot');
    src: local('Aeroport'),
        url('..fonts/Aeroport.eot?#iefix') format('embedded-opentype'),
        url('..fonts/Aeroport.woff2') format('woff2'),
        url('..fonts/Aeroport.woff') format('woff'),
        url('..fonts/Aeroport.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('..fonts/Aeroport-Italic.eot');
    src: local('Aeroport Italic'), local('Aeroport-Italic'),
        url('..fonts/Aeroport-Italic.eot?#iefix') format('embedded-opentype'),
        url('..fonts/Aeroport-Italic.woff2') format('woff2'),
        url('..fonts/Aeroport-Italic.woff') format('woff'),
        url('..fonts/Aeroport-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('..fonts/Aeroport-Medium.eot');
    src: local('Aeroport Medium'), local('Aeroport-Medium'),
        url('..fonts/Aeroport-Medium.eot?#iefix') format('embedded-opentype'),
        url('..fonts/Aeroport-Medium.woff2') format('woff2'),
        url('..fonts/Aeroport-Medium.woff') format('woff'),
        url('..fonts/Aeroport-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}