@import "font.css";

body{
    display: flex;
    flex-wrap: wrap;
}

.frame{
    max-width: 1920px;
    max-height: 1080px;
    min-width: 1920px;
    min-height: 1080px;
}

.headtxt{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 80px;
    top: -90px;
}
p1{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 180px;
    top: 134px;
    left: 344px;
}
p2{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 18px;
    top: 536px;
    left: 806px;
    min-width: 100%;
    min-width: 100%;
}
p3{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 26px;
    top: 194px;
    left: 200px;
}
p4{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 28px;
    top: 238px;
    left: 200px;
}
p5{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 100px;
    top: 159px;
    left: 780px;
}
p6{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 130px;
    top: 346px;
    left: 649px;
}
p7{
    position: absolute;
    font-family: 'Aeroport Mono';
    color: black;
    font-size: 100px;
    top: 520px;
    left: 870px;
}
p8{
    position: absolute;
    font-family: 'Aeroport Mono';
    color: black;
    font-size: 130px;
    top: 709px;
    left: 660px;
}
p9{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 28px;
    top: 50px;
    left: 200px;
}
p10{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 30px;
    top: 486px;
    left: 1228px;
}
p11{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 40px;
    top: 404px;
}
p12{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 60px;
    top: 300px;
    left: 1410px;
    transform: rotate(90deg);
}
p13{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 60px;
    top: 564px;
    left: 1410px;
    transform: rotate(90deg);
}
p14{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 60px;
    top: 824px;
    left: 1410px;
    transform: rotate(90deg);
}
p15{
    position: absolute;
    font-family: 'Aeroport';
    color: black;
    font-size: 30px;
    top: 200px;
}

.img{
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 0;
}